# PDF Files
Eligibility-to-crack.pdf
AI Backend Hiring Tasks - Prodigal AI.pdf



# Markdown Files
Eligibility-to-crack.md




# Virtual Environments
Task 5 - Binance WebSocket Price Precision/binance-websocket-ticker/.env.local




# CSV files
Task 5 - Binance WebSocket Price Precision/binance-websocket-ticker/influxdata.csv